*, html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: fixed;
    z-index: 99999999999;
    transition: all .3s ease;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo>img {
    padding-left: 15px;
    width: auto;
    height: 75px;

}

.logo>p {
    padding-left: 10px;
    width: auto;
    height: 75px;
    font-weight: bold;
    color: #007F23;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul>li {
    list-style-type: none;
    padding: 15px;
}

ul>li>a {
    text-decoration: none;
    color: #007F23;
    font-size: 30px;
    font-weight: bold;
    padding-right: 4px;
}

ul>li>a:hover {
    color: white;
    background-color: #007F23;
    padding: 5;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}


.background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

}

.ucapan {
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    color: rgb(255, 255, 255);
    position: absolute;
    position-area: center;
}

.ucapan>h1 {
    text-shadow: 0px 2px 2px rgba(0,0,0,0.6);
}
.ucapan>p {
    padding-top: 15px;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.6);
}

#sejarah {
    padding-top: 2%;
    padding-bottom: ;
    padding-left: 7%;
    padding-right: 7%;
    font-family: Arial, Helvetica, sans-serif;
}

.shape-teks {
    align-items: center;
    display: flex;
}

.circle {
    background: #FFE600;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}


#sejarah>div>p {
    color: #007F23;
    padding-left: 5px;
    font-size: 48px;
}

#sejarah>p {
    color: #000000;
    font-size: 16px;
}

#visi {
    padding-top:2% ;
    padding-bottom: ;
    padding-left: 7%;
    padding-right: 7%;
    font-family: Arial, Helvetica, sans-serif;
}
#visi>div>p {
    color: #007F23;
    padding-left: 5px;
    font-size: 48px;
}

#visi>p {
    color: #000000;
    font-size: 16px;
}
#misi {
    padding-top:2% ;
    padding-bottom: ;
    padding-left: 7%;
    padding-right: 7%;
    font-family: Arial, Helvetica, sans-serif;
}
#misi>div>p {
    color: #007F23;
    padding-left: 5px;
    font-size: 48px;
}

#misi>p {
    color: #000000;
    font-size: 16px;
    padding-bottom: 2%;
}

#footer {
    padding: 0;
    margin-bottom: 0;
}

.footer {
    background-color: #007F23;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 7%;
    padding-right: 7%;
}

.footer>h1 {
    font-family: sans-serif;
    color: #ffffff;
}

.icon-teks {
    display: flex;
    align-items: center;
}

.icon {
    padding-top: 5px;
    width: auto;
    height: 20px;
}

.icon-teks>p {
    color: white;
    padding-left: 8px;
}

.icon-teks>a {
    color: white;
    padding-left: 8px;
    text-decoration: none;
}